# Example Environment Configuration file

CI_ENVIRONMENT = development

app.baseURL = 'https://example.com'

database.default.hostname = 'database hostname'
database.default.database = 'database name'
database.default.username = 'database username'
database.default.password = 'database password'

HASH_SECRET_KEY = 'hash secret key'

email.SMTPHost = 'mail.example.com'
email.SMTPUser = 'youruser@example.com'
email.SMTPPass = 'yourpassword'
email.SMTPPort = '587'
email.SMTPCrypto = 'tls'
email.fromEmail = 'noreply@example.com'